@{
    Layout = "_Layout";
    var modulePrefix = "Module1";
    //todo: create area tag helper for asset files
}
<script src="~/@modulePrefix/js/foo.js" charset="UTF-8"></script>
<link rel="stylesheet" type="text/css" href="~/@modulePrefix/css/foo.css">
<p class="test">Mvc => Module1.Home.Index</p>
