<div>
    <ul>
        <li>
            <a href="http://localhost:9300">http => http://localhost:9300</a>
        </li>
        <li>
            <a href="https://localhost:9301">https => https://localhost:9301</a>
        </li>
    </ul>
    <hr />
    <ul>
        <li>
            <a href="~/Module1/SingleViewCode">RazorPages => ~/Module1/SingleViewCode</a>
        </li>
        <li>
            <a href="~/Module1/SingleViewCodeUpdate">RazorPages => ~/Module1/SingleViewCodeUpdate</a>
        </li>
    </ul>
    <hr />
    <ul>
        <li>
            <a href="~/">Entry</a>
        </li>
        <li>
            <a href="~/Module1/Home/NotExist">MVC => ~/Module1/Home/NotExist</a>
        </li>
        <li>
            <a href="~/Module1/Home/Index">MVC => ~/Module1/Home/Index</a>
        </li>
        <li>
            <a href="~/Module1/About">RazorPages => ~/Module1/About</a>
        </li>
        <li>
            <a href="~/Module1/Index">RazorPages => ~/Module1/Index</a>
        </li>
        <li>
            <a href="~/Api/Module1/DemoApi/GetItems">Api => ~/Api/Module1/DemoApi/GetItems</a>
        </li>
    </ul>
</div>